@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;

  --font-medium: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  background: black;
}

body {
  color: var(--white-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
audio {
  opacity: 0.5;
  right: 40%;
  top: 85%;
  position: absolute;
}

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}
.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.form {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}
.head {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}
.content,
.box {
  display: grid;
}
.content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
}
.login__icon,
.login__eye {
  font-size: 1.25rem;
}
.input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--white-color);
  position: relative;
  z-index: 1;
}
.box-input {
  position: relative;
}
.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}
.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.box:nth-child(2) input {
  padding-right: 1.8rem;
}
.tick,
.tick-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tick {
  margin-bottom: 1.5rem;
}
.tick-label,
.forgot,
.register {
  font-size: var(--small-font-size);
}
.tick-group {
  column-gap: 0.5rem;
}
.tick-input {
  width: 16px;
  height: 16px;
}
.forgot {
  color: var(--white-color);
}
.forgot:hover {
  text-decoration: underline;
}
.button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  color: white;
}
.register {
  text-align: center;
}
.register a {
  color: var(--white-color);
  font-weight: var(--font-medium);
}
.register a:hover {
  text-decoration: underline;
}

/* Input focus move up label */
.input:focus + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
}

.input:not(:placeholder-shown).input:not(:focus) + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
}

@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .head {
    font-size: 2rem;
  }
}
